body {
  margin: 0;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.buttons {
  width: 200px;
  height: 200px;
}

button {
  margin-right: 10px;
  width: 56px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background: cadetblue;
}

.btn-1 {
  
}
